.firstDiv {
  color: red;
  border: 2px solid black;
  background-color: rgb(184, 207, 207);
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-content: space-between;
}
h1 {
  margin: 10px;
}

.secondDiv {
  text-align: center;
  background-color: aqua;
  min-width: 200px;
  width: 300px;
  height: 50px;
  margin: 0 3px 0 auto;
}

.thirdDiv {
  font-size: 2em;
  margin-left: auto;
  margin-right: 15px;
  width: 300px;
  background-color: aliceblue;
  padding: 2px;
}

.fifthDiv {
  margin: 2px auto 3px 10px;
  background-color: blue;
  width: 400px;
  min-width: 300px;
  max-width: 600px;
}

.sixthDiv {
  border: 2px solid red;
  margin: 2 rem auto;
  padding: 2 rem;

  display: flex;
  flex-direction: column;
  background-color: rgb(98, 71, 71);
  flex-wrap: wrap;
  align-content: center;
  gap: 1rem;
}

.sixthDiv label {
  /* margin-bottom: 0rem; */
}

.sixthDiv input {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
}

.seventhDiv,
.seventhForm {
  border: 2px solid rgb(0, 255, 85);
  margin: 1em;
  padding: 1em;
  border-radius: 6px;
  display: flex;
  background-color: blueviolet;
  flex-direction: column;
  gap: 1em;
}
